.MainSlider {}

.sliderImg{
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    border-radius: 0.5rem;
    overflow: hidden;
}

.imgBox{
    
    overflow :  hidden ;
}

.imgDisc{
    position: absolute;
    top : -50% ;
    z-index: 200;
}